html, body{
    height: 100%;
}

.bodyContainer{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
}

/*styles to push footer towards bottom of page*/
#container{
    min-height: 100%;
}

#main{
    overflow: auto;  /*creates scroll bar once this section extends past one page*/
    padding-bottom: 50px;  /*must match footer height, prevents content in main from disappearing behind footer*/
}

/*additional footer styles below*/
#footer{
    position: relative;  /*positioned relative to its normal position*/
    height: 50px;
    margin-top: -50px;   /*equal to negative height of the footer - without this, footer would be pushed below height
    of the viewport.  This rule pulls the footer back into view.*/
    clear: both;  /*specifies on which sides of an element floating elements are not allowed to float*/
}
/*end of styles to push footer towards bottom*/

/*Navigation bar styles*/
.navbar{
    background-color: #292b2c;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: darkgray !important;
}

.nav-item a:hover {
    color: white !important;
}

/*items under each drop down menu*/
.dropdown-menu a:hover{
    color: white;
    background-color: #292b2c;
}

/*buttons in navbar*/
.cmp-nav-btn{
    color: purple;
    margin-right: 5px;
    background-color: buttonface;
    font-size: .9em;
    border: none;
}

.cmp-nav-btn:hover{
    color: blue;
    margin-right: 5px;
    background-color: buttonface;
}

/*hamburger menu*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*footer styles*/
.footer{
    background-color: #343a40;
    color: white;
}

.footer p{
    padding-top: .4em;
    text-align: center !important;
}

/**********Styles for forms**********/
/* Style the container */
.container {
    border-radius: 5px;
    background-color: #6a6d6f1f;
    margin-bottom: .5em;
    padding: 20px;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style inputs, select elements and text areas */
input[type=text], input[type=number], input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 55%;
}

/****Styles for columns widths*****/
/*Floating column for first row of labels (furthest left): 15% width */
.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
    padding-left: .5em;
    font-weight: 700;
}

/* Floating column for a majority of inputs: 40% width */
.col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

/* Floating column for a majority of inputs: 40% width */
.col-45 {
    float: left;
    width: 45%;
    margin-top: 6px;
}

/* Remove left padding*/
.removeLeftPadding {
    padding-left: 0em;
}

.rightAlignText{
    text-align: right;
}

.positionRel{
    position: relative;
}

/***Styles specific to add and edit contractor forms***/
/* Floating column for zip label: 5% width*/
.col-05.zip {
    float: left;
    width: 5%;
    margin-top: 6px;
    margin-left: 5em;
    padding-left: 0em;
    font-weight: 700;
}

/* Floating column for zip input: 13% width */
.col-13 {
    float: left;
    width: 13%;
    margin-top: 6px;
}

/*Style sets initial input color for edit contractor form*/
.readOnly{
    color: gray;
}

.editIcon{
    float: left;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-edit{
    font-size: 1.5em;
    color: #7543b7;
}

.fa-edit:hover{
    color: #c72e2e;
    cursor: pointer;
}
/***End styles specific to add and edit contractor forms***/

/* Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/***** Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other *****/
@media screen and (max-width: 600px) {
    .col-05, .col-05.zip, .col-13, .col-15, .col-25, .col-40, input[type=submit] {
        width: 90%;
        margin-top: 0;
        padding-left: 0em;
        margin-left: 0em;
        text-align: left;
    }

    /*Styles for the edit contractor column and icon*/
    .col-05{
        width: 10%;
    }

    .fa-edit{
        font-size: 1.25em;
    }

    /* Style the submit button */
    input[type=submit] {
        margin-top: .5em;
    }

}
/*****End of styles for responsive layout*****/
/**********End of styles for forms**********/


/*Styles for tables*/
.infoTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

.infoTable.fullWidth{
    width: 100%;
}

.infoTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.infoTable tr:nth-child(even){
    background-color: #f2f2f2;
}

.infoTable tr:hover {
    background-color: #343a40;
    color: red;
}

.infoTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.infoTable i{
    color: deeppink;
    font-size: 1.5em;
}

.infoTable i:hover{
    color: white;
    cursor: pointer;
}

.infoTable .centered{
    text-align: center;
}

.table-format .tableHeader{
    text-align: center;
}

/*********Styles for help-tip**********/
.help-tip{
    /*position: absolute;*/
    top: -10px;
    right: -10px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 13px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    z-index: 1;
    opacity: .95;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 10px;
    width: 300px;
    /*position: absolute;*/
    border-radius: 12px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    /*position: absolute;*/
    color: yellow;
    content: '';
    width:0;
    height: 0;
    /*border:6px solid transparent;*/
    /*border-bottom-color:#1E2021;*/
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    /*position: absolute;*/
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
/*********End styles for help-tip**********/


/*********Styles for containers at top of show action**********/
.infoContainer{
    border-radius: 5px;
    background-color: #6a6d6f1f;
    margin-bottom: .5em;
    padding: 20px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container .label{
    font-weight: 700;
    float: left;
    padding: .5em .5em;  /*top & bottom   left & right*/
}

.flex-container .data{
    color: blue;
    float: right;
    padding: .5em .5em;   /*top & bottom   left & right*/
}

.grid-container .label.expand.right{
    color: green;
    cursor: pointer;
    float: right;
}

.grid-container .label.hide.right{
    color: red;
    cursor: pointer;
    float: right;
}

.grid-container .label.edit.right{
    text-align: right;
    float: right;
}

.closedContainers{
    display: none;
}

.grid-container{
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 20px;
}

.closedContainers.grid-container{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-container .grid-item .label{
    font-weight: 700;
    float: left;
    padding: .5em .5em;  /*top & bottom   left & right*/
}

.grid-container .grid-item .data{
    color: blue;
    padding: .5em .5em;   /*top & bottom   left & right*/
}



/*
.showActionContainer{
    border-radius: 5px;
    background-color: #6a6d6f1f;
    margin-bottom: .5em;
    padding: 20px;
}

.col-15.showAction{
    float: left;
    width: 15%;
    margin-top: 6px;
    /*margin-left: 5em;
    padding-left: 0em;
    font-weight: 700;
    text-align: right;
}

.col-25.showAction{
    float: left;
    width: 25%;
    margin-top: 6px;
    /*margin-left: 5em;
    padding-left: 0em;
    font-weight: 400;
    text-align: center;
} */

